# -*- coding: utf-8 -*-
{
    'name': "{{ ADDON_NAME }}",

    'summary': """
        Short (1 phrase/line) summary of the module's purpose, used as
        subtitle on modules listing or apps.openerp.com""",

    'author': "{{ ADDON_AUTHOR }}",
    'website': "{{ ADDON_WEBSITE | default('http://www.yourcompany.com', true) }}",
    'license': "{{ ADDON_LICENCE | default('LGPL-3', true) }}",

    # Categories can be used to filter modules in modules listing
    # Check https://github.com/odoo/odoo/blob/{{ ODOO_VERSION }}/odoo/addons/base/module/module_data.xml
    # for the full list
    'category': 'Uncategorized',
    'version': '{{ ODOO_VERSION }}.0.0.1',

    # any module necessary for this one to work correctly
    'depends': [
        {{ ADDON_DEPENDS }}
    ],

    # always loaded
    'data': [
        # 'security/ir.model.access.csv',
        # 'views/views.xml',
        # 'views/templates.xml',
    ],
    # only loaded in demonstration mode
    'demo': [
        # 'demo/demo.xml',
    ],
}

